@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 35px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin: 35px;
}

.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color: #ff6347;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin: -5px 0;
}

.home-info p{
    font-size: 15px;
    margin: 10px 0 25px;
    line-height: 1.6;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    background: #ff6347;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 40px;
    border: 2px solid #ff6347;
    box-shadow: 0 0 10px #ff6347;
    transition: all 0.3s ease;
}