@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo{
    font-size: 35px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin: 35px;
}

.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color: #ff6347;
}
.home{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin: -5px 0;
}
.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.8px #ff6347;
    animation: displayText 14s infinite;
    animation-delay: calc(-3s* var(--i));
}

 @keyframes displayText {
    25%,100%{
        display: none  ;
    }
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-right: #ff6347 2px solid;
    color: #ff6347;
    white-space: nowrap;
    overflow: hidden;
}

.home-info p{
    font-size: 15px;
    margin: 10px 0 25px;
    line-height: 1.6;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    background: #ff6347;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 40px;
    border: 2px solid #ff6347;
    box-shadow: 0 0 10px #ff6347;
    transition: all 0.3s ease;
}

.btn:hover {
    background: transparent;
    color: #ff6347;
    box-shadow: 0 0 10px #ff6347;
}

.home-info .btn-sci .sci {
    margin-right: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #ff6347;
    border-radius: 50%;
    font-size: 18px;
    margin: 0 8px;
    transition: all 0.3s ease;

}

.home-info .btn-sci .sci a:hover{
    background: #ff6347;
    color: #fff;
    box-shadow: 0 0 10px #ff6347;
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: #ff6347;
    border-radius: 50%;
    padding: 5px;
}

.home-img .img-box ::before,
.home-img .img-box ::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#ff6347);
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 32vw;
    height: 32vw;
    object-fit: cover;
    mix-blend-mode: lighten;

}

.bar-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
  
}

.bar-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    animation: wave 1.5s infinite ease-in-out;
    transform: translateY(-100%);
    animation: showbars .3s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes showbars {
    100% {
        transform: translateY(0);
    }
}

